{% extends "layout.html" %}

{% block title %}
    Order details
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row mb-0">
            <!-- Order info -->
            <div class="col-4 border me-2 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mb-2 py-2 px-0 border-bottom">
                    <div class="container-fluid">
                        <span class="navbar-text py-0">
                            Order info
                        </span>
                    </div>
                </nav>
                <div class="container mx-0 pb-2 px-2">
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order ID</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Order ID" aria-describedby="basic-addon1" name="ord_id" value="{{ ord_id }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order number</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Order number" aria-describedby="basic-addon1" name="ord_number" value="{{ ord_number }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order status</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Order status" aria-describedby="basic-addon1" name="ord_status" value="confirmed">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order placed date</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Order placed" aria-describedby="basic-addon1" name="ord_date" value="{{ ord_date }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Appointment date</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Procedure starts" aria-describedby="basic-addon1" name="ord_appointment_date" value="{{ ord_appointment_date }}">
                    </div>
                    <div class="input-group mb-0 pt-0">
                        <span class="input-group-text" id="basic-addon1">Beautician</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Beautician" aria-describedby="basic-addon1" name="ord_beautician" value="{{ ord_beautician }}">
                    </div>
                    <!-- <div class="input-group mb-1 pt-1">
                        <span class="input-group-text" id="basic-addon1">Urgent status (planned/urgent)</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Urgent status" aria-describedby="basic-addon1" name="ord_urgent_status" value="planned">
                    </div> -->
                </div>
            </div>
            <!-- Customer info -->
            <div class="col-4 border me-1 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mb-2 py-2 px-0 border-bottom">
                    <div class="container-fluid">
                        <span class="navbar-text py-0">
                            Customer info
                        </span>
                    </div>
                </nav>
                <div class="container mx-0 pb-2 px-2">
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Unique ID</span>
                        <input type="text" class="form-control" readonly placeholder="Unique ID" aria-label="Unique ID" aria-describedby="basic-addon1" name="ctmr_uid" value="{{ ctmr_uid }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">First name</span>
                        <input type="text" class="form-control" readonly placeholder="First name" aria-label="First name" aria-describedby="basic-addon1" name="ctmr_fname" value="{{ ctmr_fname }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Last name</span>
                        <input type="text" class="form-control" readonly placeholder="Last name" aria-label="Last name" aria-describedby="basic-addon1" name="ctmr_lname" value="{{ ctmr_lname }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Gender</span>
                        <input type="text" class="form-control" readonly placeholder="gender" aria-label="Gender" aria-describedby="basic-addon1" name="ctmr_gender" value="{{ ctmr_gender }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" class="form-control" readonly placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" name="ctmr_email" value="{{ ctmr_email }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Contraindications</span>
                        <!-- <input type="text" class="form-control" readonly placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" name="ctmr_email" value="{{ ctmr_email }}"> -->
                    </div>
                    <div class="input-group mb-0 pt-0">
                        <span class="input-group-text" id="basic-addon1">Precautions</span>
                        <!-- <input type="text" class="form-control" readonly placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" name="ctmr_email" value="{{ ctmr_email }}"> -->
                    </div>
                </div>
            </div>

            <div class="col me-1 pt-1"></div>

            <div class="col border border-dark pt-1">
                QR
            </div>

        </div>

        <div class="row mb-0 pt-3">
            <!-- Order details table -->
            <div class="col me-0 pt-0 ps-0">
                <!-- Order details table header -->
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Order details
                        </span>
                    </div>
                </nav>
                
                <!-- Order details table -->
                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr>
                            <th class="text-start border border-1" scope="col">Service (treatment) rendered</th>
                            <th class="text-start border border-1" scope="col">Duration</th>
                            <th class="text-start border border-1" scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Some useful therapy
                            </td>
                            <td class="text-start">
                                <input class="d-none" name="duration" type="text" value="">
                                15
                            </td>
                            <td class="text-start">
                                <input class="d-none" name="price" type="text" value="">
                                15
                            </td>
                        </tr>
                    </tbody>    
                </table>
                
                <!-- Order details table footer (treatment editor: adder)-->
                <nav class="navbar navbar-expand navbar-light bg-light px-0 pt-1 pb-0">
                    <div class="container-fluid">
                        <!-- Button trigger modal treatment selection-->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-ptype="service">
                            Select treatment
                        </button>
                    </div>
                </nav>

            </div>

            <!-- Following skin care recomendations table -->
            <div class="col me-0 pt-0 pe-0">
                <!-- Following skin care recomendations table header -->
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Following skin care recomendations
                        </span>
                    </div>
                </nav>

                <!-- Following skin care recomendations table -->
                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr>

                            <!-- </tr> class="border-bottom-2 border-dark"> -->
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Some useful product
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Some useful expensive product
                            </td>
                        </tr>
                    </tbody>    
                </table>

                <!-- Following skin care recomendations table footer (home care products editor)-->
                <nav class="navbar navbar-expand navbar-light bg-light px-0 pt-1 pb-0">
                    <div class="container-fluid">
                        <!-- Button trigger modal treatment selection-->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-ptype="commodity">
                            Select products
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col me-0 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Aftercare
                        </span>
                    </div>
                </nav>

                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr class="border-bottom-2 border-dark">
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Do something regularly until next week.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Don't do anything unexpected to be done until next procedure.
                            </td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>  

        <div class="row pt-3">
            <div class="col me-0 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Treatment plan
                        </span>
                    </div>
                </nav>

                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr class="border-bottom-2 border-dark">
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Another good procedure
                            </td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>  

    </div>
    
    <!-- Modal (treatment selection) -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Creating selected list and product list here using js -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-confirm="confirm">Confirm selection</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let exampleModal = document.getElementById('exampleModal')
        let modalBody = exampleModal.querySelector(`.modal-body`)
        exampleModal.addEventListener('show.bs.modal', async function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var ptype = button.getAttribute('data-bs-ptype')
            
            var url = '/edit_product_list' +
            '?submitMode=' + ptype +
            '&ptype=' + ptype
            try {
                var response = await fetch(url);
                var trn_data = await response.json();
            } catch (error) {
                alert('There was a problem while processing request: error.name=' + error.name + '; error.msg=' + error.msg + ';');
                return
            }
            if (!trn_data["trn_complete"]) {
                alert("trn_complete: " + trn_data["trn_complete"]  + ". AN ERROR OCCURED WHILE FETCHING DATA");
                return
            }
            
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            
            // Update the modal's content.
            try{
                var oldSelectedList = modalBody.querySelector(`.selected.products`)
                modalBody.removeChild(oldSelectedList)
            } catch {  }
            
            try{
                var oldSeparator = modalBody.querySelector(`.separator`)
                modalBody.removeChild(oldSeparator)
            } catch {  }

            try{
                var oldProdList = modalBody.querySelector(`.list-group.products`)
                modalBody.removeChild(oldProdList)
            } catch {  }

            var modalSelectedHeader = document.createElement("h6")
            modalSelectedHeader.setAttribute("class", "text-start")
            modalSelectedHeader.textContent = 'Selected:'
            var modalSelectedList = document.createElement("div")
            modalSelectedList.setAttribute("class", "selected products")
            modalSelectedList.appendChild(modalSelectedHeader)
            modalBody.appendChild(modalSelectedList)
            
            var modalLineSeparator = document.createElement("hr")
            modalLineSeparator.setAttribute("class", "separator")
            modalBody.appendChild(modalLineSeparator)

            var modalProdListHeader = document.createElement("h6")
            modalProdListHeader.setAttribute("class", "text-start")
            var modalTitle = exampleModal.querySelector('.modal-title')
            if (ptype == 'service') {
                modalTitle.textContent = 'Treatment selection'
                modalProdListHeader.textContent = 'Treatment list:'
            } else if (ptype == 'commodity') {
                modalTitle.textContent = 'Product selection'
                modalProdListHeader.textContent = 'Product list:'
            } else {
                modalTitle.textContent = `${ptype} selection`
                modalProdListHeader.textContent = `${ptype} list:`
            }

            var modalProdList = document.createElement("div")
            modalProdList.setAttribute("class", "list-group products")
            modalProdList.appendChild(modalProdListHeader)
            modalBody.appendChild(modalProdList)

            var productList = trn_data["productList"]
            for (var product of productList){
                // Something to be inserted
                var labelItem = document.createElement("label")
                labelItem.setAttribute("class", "list-group-item d-flex mb-0")
                labelItem.setAttribute("product", product["prod_name"])

                var itemButton = document.createElement("button")
                itemButton.setAttribute("type", "button")
                itemButton.setAttribute("class", "btn btn-outline-secondary item")
                itemButton.setAttribute("data-bs-toggle", "button")
                itemButton.setAttribute("autocomplete", "off")
                itemButton.setAttribute("product", product["prod_name"])
                itemButton.addEventListener('click', selectItem, false)
                var node = document.createTextNode(product["prod_name"])
                
                itemButton.appendChild(node)
                labelItem.appendChild(itemButton)

                // Inserting here
                modalProdList.appendChild(labelItem)
            }
        })

        function selectItem(event) {
            var itemChosen = event.currentTarget
            var apressed = itemChosen.getAttribute('aria-pressed')
            var product = itemChosen.getAttribute('product')
            var modalProdList = modalBody.querySelector(`.list-group.products`)
            var modalSelectedList = modalBody.querySelector(`.selected.products`)
            if (apressed == 'true') {
                var labelItem = modalProdList.querySelector(`[product="${product}"]`)
                modalProdList.removeChild(labelItem)
                modalSelectedList.appendChild(labelItem)
            } else {
                var labelItem = modalSelectedList.querySelector(`[product="${product}"]`)
                modalSelectedList.removeChild(labelItem)
                modalProdList.appendChild(labelItem)
            }
        }

        let modalFooter = exampleModal.querySelector(`.modal-footer`)
        var modalBtnConfirm = modalFooter.querySelector(`[data-bs-confirm="confirm"]`)
        modalBtnConfirm.addEventListener('click', function () {
            alert("click confirm done")
            // // bootstrap method doesn't work correctly
            // $('#exampleModal').hide()
            $('#exampleModal').modal('hide')
        })

        function archievedChecking() {
            // msgProductList = msgProductList + product["prod_name"]
            // alert("click 1")
            // alert(apressed)
            // alert("apressed=" + apressed + ": (apressed == true) = " + (apressed == true))
            // alert("apressed=" + apressed + ": (apressed == 'true') = " + (apressed == 'true'))
            // alert("apressed=" + apressed + ": (apressed == false) = " + (apressed == false))
            // alert("apressed=" + apressed + ": (apressed == 'false') = " + (apressed == 'false'))
            // alert("############# apressed = false")
            // alert(`pressed=${apressed}; prod=${product}`)
        }

    </script>

{% endblock %}
