{% extends "layout.html" %}

{% block title %}
    Order details
{% endblock %}

{% block main %}
    <div class="container">
        <!-- Basic info -->
        <div class="row mb-0">
            <!-- Order info -->
            <div class="col-4 border me-2 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mb-2 py-2 px-0 border-bottom">
                    <div class="container-fluid">
                        <span class="navbar-text py-0">
                            Order info
                        </span>
                    </div>
                </nav>
                <div class="container mx-0 pb-2 px-2">
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order ID</span>
                        <input type="text" class="form-control ord_id" readonly placeholder="" aria-label="Order ID" aria-describedby="basic-addon1" name="ord_id" value="{{ ord_id }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order number</span>
                        <input type="text" class="form-control ord_number" placeholder="" aria-label="Order number" aria-describedby="basic-addon1" name="ord_number" value="{{ ord_number }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <label class="input-group-text" for="ordStatusSelect">Order status</label>
                        <select class="form-select ord_status" id="ordStatusSelect" name="ord_status">
                            {% if ord_status %}
                                <option disabled="">Order status</option>
                            {% else %}
                                <option disabled="" selected>Order status</option>
                            {% endif %}
                            {% for status in ordStatusList %}
                                {% if status.name==ord_status %}
                                    <option selected value="{{ status.name }}">{{ status.name }}</option>
                                {% else %}
                                    <option value="{{ status.name }}">{{ status.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Order placed date</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Order placed" aria-describedby="basic-addon1" name="ord_date" value="{{ ord_date }}">
                    </div>
                    <!-- THIS IS DATEPICKER + -->
                    <!-- <div id="datepicker" class="input-group mb-1 pt-0 date" data-target-input="nearest"> -->
                        <!-- <span class="input-group-text" id="basic-addon1">Appointment date</span> -->
                        <!-- <input id="pickerSource" type="text" class="form-control datepicker-input" placeholder="" data-target="#datepicker" aria-label="Procedure starts" aria-describedby="basic-addon1" name="ord_appointment_date" value="{{ ord_appointment_date }}"> -->
                        <!-- <div class="input-group-append" data-target="#datepicker"> -->
                            <!-- <span class="input-group-text"> -->
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg> -->
                                <!-- <i class="bi bi-calendar3"></i> -->
                            <!-- </span> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- THIS IS DATEPICKER - -->
                    <!-- ANY DATETIMEPICKER + -->
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Appointment date</span>
                        <input id="pickerSource" type="text" class="form-control input flflpicker ord_appointment_date" placeholder="" aria-label="Treatment starts" aria-describedby="basic-addon1" name="ord_appointment_date" value="{{ ord_appointment_date }}">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                        </div>
                    </div>
                    <!-- ANY - -->
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Beautician</span>
                        <!-- <input type="text" class="form-control" placeholder="" aria-label="Beautician" aria-describedby="basic-addon1" name="ord_beautician" value="{{ ord_beautician }}"> -->
                        <select class="form-select ord_beautician" id="ord_beautician" name="ord_beautician">
                            {% if ord_beautician %}
                                <option disabled="">Beautician</option>
                            {% else %}
                                <option disabled="" selected>Beautician</option>
                            {% endif %}
                            <option selected value="{{ ord_beautician }}">{{ ord_beautician }}</option>
                        </select>
                    </div>
                    <div class="input-group mb-0 pt-0">
                        <span class="input-group-text" id="basic-addon1">Description</span>
                        <input type="text" class="form-control ord_description" placeholder="" aria-label="Description" aria-describedby="basic-addon1" name="ord_description" value="{{ ord_description }}">
                    </div>
                    <!-- <div class="input-group mb-1 pt-1">
                        <span class="input-group-text" id="basic-addon1">Urgent status (planned/urgent)</span>
                        <input type="text" class="form-control" readonly placeholder="" aria-label="Urgent status" aria-describedby="basic-addon1" name="ord_urgent_status" value="planned">
                    </div> -->
                </div>
            </div>
            <!-- Customer info -->
            <div class="col-4 border me-2 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mb-2 py-2 px-0 border-bottom">
                    <div class="container-fluid">
                        <span class="navbar-text py-0">
                            Customer info
                        </span>
                    </div>
                </nav>
                <div class="container mx-0 pb-2 px-2">
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Unique ID</span>
                        <input type="text" class="form-control" readonly placeholder="Unique ID" aria-label="Unique ID" aria-describedby="basic-addon1" name="ctmr_uid" value="{{ ctmr_uid }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">First name</span>
                        <input type="text" class="form-control" readonly placeholder="First name" aria-label="First name" aria-describedby="basic-addon1" name="ctmr_fname" value="{{ ctmr_fname }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Last name</span>
                        <input type="text" class="form-control" readonly placeholder="Last name" aria-label="Last name" aria-describedby="basic-addon1" name="ctmr_lname" value="{{ ctmr_lname }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Gender</span>
                        <input type="text" class="form-control" readonly placeholder="gender" aria-label="Gender" aria-describedby="basic-addon1" name="ctmr_gender" value="{{ ctmr_gender }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" class="form-control" readonly placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" name="ctmr_email" value="{{ ctmr_email }}">
                    </div>
                    <div class="input-group mb-1 pt-0">
                        <span class="input-group-text" id="basic-addon1">Contraindications</span>
                        <input type="text" class="form-control" readonly placeholder="Contraindications" aria-label="Contraindications" aria-describedby="basic-addon1" name="ctmr_contraindications" value="{{ ctmr_contraindications }}">
                    </div>
                    <div class="input-group mb-0 pt-0">
                        <span class="input-group-text" id="basic-addon1">Precautions</span>
                        <input type="text" class="form-control" readonly placeholder="Additional info" aria-label="Precautions" aria-describedby="basic-addon1" name="ctmr_additional_info" value="{{ ctmr_additional_info }}">
                    </div>
                </div>
            </div>

            <div class="col me-2 pt-0 px-0"></div>

            <div class="col border pt-0 px-0">
                QR
            </div>

        </div>

        <!-- Customer important info -->
        <div class="row mb-0 pt-2">
            <div class="col me-0 pt-0 px-0">
                <div class="input-group mb-2 pt-0">
                    <span class="input-group-text" id="basic-addon1">Complaints</span>
                    <input type="text" class="form-control ord_ctmr_complaints" placeholder="Complaints" aria-label="Complaints" aria-describedby="basic-addon1" name="ord_ctmr_complaints" value="{{ ord_ctmr_complaints }}">
                </div>
                <div class="input-group mb-0 pt-0">
                    <span class="input-group-text" id="basic-addon1">Skin condition</span>
                    <input type="text" class="form-control ord_skin_condition" placeholder="Skin condition" aria-label="Skin condition" aria-describedby="basic-addon1" name="ord_skin_condition" value="{{ ord_skin_condition }}">
                </div>
            </div>
        </div>

        <!-- Order details -->
        <div class="row mb-0 pt-3">
            <!-- Order details table -->
            <div class="col me-0 pt-0 px-0">
                <!-- Order details table header -->
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Order details
                        </span>
                    </div>
                </nav>
                
                <!-- Order details table -->
                <table class="table table-hover table-bordered caption-top mb-0" name="tOrderDetails">
                    <thead>
                        <tr>
                            <th class="text-start border border-1 border-dark" scope="col">Service (treatment) rendered</th>
                            <th class="text-start border border-1 border-dark" scope="col">Duration (min)</th>
                            <th class="text-start border border-1 border-dark" scope="col">Price ($)</th>
                        </tr>
                    </thead>
                    <tbody name="tbdOrderDetails">
                        {% if tbdOrderDetails %}
                            {% for service in tbdOrderDetails %}
                                <tr>
                                    <td class="text-start" name="service" product="{{ service.product }}" duration="{{ service.duration }}" price="{{ service.price }}">
                                        <input class="d-none" name="service" type="text" value="">
                                        {{ service.product }}
                                    </td>
                                    <td class="text-start" name="duration">
                                        <input class="d-none" name="duration" type="text" value="">
                                        {{ service.duration }}
                                    </td>
                                    <td class="text-start" name="price">
                                        <input class="d-none" name="price" type="text" value="">
                                        {{ service.price }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <!-- <tr> -->
                                <!-- <td class="text-start" name="service" product="Initial assessment" duration="15" price="0"> -->
                                    <!-- <input class="d-none" name="service" type="text" value=""> -->
                                    <!-- Initial assessment -->
                                <!-- </td> -->
                                <!-- <td class="text-start" name="duration"> -->
                                    <!-- <input class="d-none" name="duration" type="text" value=""> -->
                                    <!-- 15 -->
                                <!-- </td> -->
                                <!-- <td class="text-start" name="price"> -->
                                    <!-- <input class="d-none" name="price" type="text" value=""> -->
                                    <!-- 0 -->
                                <!-- </td> -->
                            <!-- </tr> -->
                        {% endif %}
                    </tbody>    
                </table>
                
                <!-- Order details table footer (treatment editor: adder)-->
                <nav class="navbar navbar-expand navbar-light bg-light px-0 pt-1 pb-0">
                    <div class="container-fluid">
                        <!-- Button trigger modal treatment selection-->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-ptype="service" data-bs-tbody="tbdOrderDetails">
                            Select treatment
                        </button>
                    </div>
                </nav>

            </div>

            <!-- Following skin care recommendations table -->
            <div class="col me-0 pt-0 pe-0">
                <!-- Following skin care recommendations table header -->
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Home care recommendations
                        </span>
                    </div>
                </nav>

                <!-- Following skin care recommendations table -->
                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr>
                            <!-- Without header -->
                        </tr>
                    </thead>
                    <tbody name="tbdHomeSkinCare">
                        {% if tbdHomeSkinCare %}
                            {% for homeProduct in tbdHomeSkinCare %}
                                <tr>
                                    <td class="text-start" name="commodity" product="{{ homeProduct.product }}" prod_how_to_use = "how to use">
                                        <input class="d-none" name="commodity" type="text" value="">
                                        {{ homeProduct.product }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <!-- <tr> -->
                                <!-- <td class="text-start" name="commodity" product="Some useful product" prod_how_to_use = "how to use"> -->
                                    <!-- <input class="d-none" name="commodity" type="text" value=""> -->
                                    <!-- Some useful product -->
                                <!-- </td> -->
                            <!-- </tr> -->
                        {% endif %}
                    </tbody>    
                </table>

                <!-- Following skin care recommendations table footer (home care products editor)-->
                <nav class="navbar navbar-expand navbar-light bg-light px-0 pt-1 pb-0">
                    <div class="container-fluid">
                        <!-- Button trigger modal treatment selection-->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-ptype="commodity" data-bs-tbody="tbdHomeSkinCare">
                            Select products
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Aftercare -->
        <div class="row mb-0 pt-3 d-none">
            <div class="col me-0 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Aftercare
                        </span>
                    </div>
                </nav>

                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr class="border-bottom-2 border-dark">
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Do something regularly until next appointment.
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start">
                                <input class="d-none" name="service" type="text" value="">
                                Don't do anything unexpected to be done until next procedure.
                            </td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>  

        <!-- Treatment plan -->
        <div class="row pt-3">
            <div class="col me-0 pt-0 px-0">
                <nav class="navbar navbar-light bg-light mt-0 py-0 px-0 border">
                    <div class="container-fluid">
                        <span class="navbar-text">
                            Treatment plan
                        </span>
                    </div>
                </nav>
                
                <!-- Treatment plan table -->
                <table class="table table-hover table-bordered caption-top mb-0">
                    <thead>
                        <tr>
                            <td class="text-start font-weight-bold text-muted border border-1" scope="col">Service (treatment) recommended</td>
                            <td class="text-start font-weight-bold text-muted border border-1" scope="col">Duration (min)</td>
                            <td class="text-start font-weight-bold text-muted border border-1" scope="col">Price ($)</td>
                        </tr>
                    </thead>
                    <tbody name="tbdTreatmentPlan">
                        {% if tbdTreatmentPlan %}
                            {% for service in tbdTreatmentPlan %}
                                <tr>
                                    <td class="text-start" name="service" product="{{ service.product }}" duration="{{ service.duration }}" price="{{ service.price }}">
                                        <input class="d-none" name="service" type="text" value="">
                                        {{ service.product }}
                                    </td>
                                    <td class="text-start" name="duration">
                                        <input class="d-none" name="duration" type="text" value="">
                                        {{ service.duration }}
                                    </td>
                                    <td class="text-start" name="price">
                                        <input class="d-none" name="price" type="text" value="">
                                        {{ service.price }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <!-- <tr> -->
                                <!-- <td class="text-start" name="service" product="Another good procedure" duration="45" price="45"> -->
                                    <!-- <input class="d-none" name="service" type="text" value=""> -->
                                    <!-- Another good procedure -->
                                <!-- </td> -->
                                <!-- <td class="text-start" name="duration"> -->
                                    <!-- <input class="d-none" name="duration" type="text" value=""> -->
                                    <!-- 45 -->
                                <!-- </td> -->
                                <!-- <td class="text-start" name="price"> -->
                                    <!-- <input class="d-none" name="price" type="text" value=""> -->
                                    <!-- 45 -->
                                <!-- </td> -->
                            <!-- </tr> -->
                        {% endif %}
                    </tbody>    
                </table>

                <!-- Treatment plan table footer (treatment editor: adder)-->
                <nav class="navbar navbar-expand navbar-light bg-light px-0 pt-1 pb-0">
                    <div class="container-fluid">
                        <!-- Button trigger modal treatment selection-->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-ptype="service" data-bs-tbody="tbdTreatmentPlan">
                            Select treatment
                        </button>
                    </div>
                </nav>

            </div>
        </div>  

    </div>
    
    <nav class="navbar navbar-expand navbar-light bg-light mt-3 px-0 pt-0 pb-0">
        <div class="container-fluid">
            <button type="submit" class="btn btn-outline-success ml-auto saveInfo" name="submitMode" value="{{ submitMode }}">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square mb-1" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg> -->
                <i class="bi bi-check2-square"></i>
                {% if submitMode == "edit order details" %}
                    Save changes
                {% else %}
                    Create
                {% endif %}
            </button>
            <!-- {% if ctmr_subscribed=='1' %}
                <button disabled type="button" class="btn btn-outline-secondary ctmr_subscribed active" data-bs-toggle="button" autocomplete="off" aria-pressed="true" name="ctmr_subscribed" value="{{ ctmr_subscribed }}">Subscribed</button>
            {% else %}
                <button disabled type="button" class="btn btn-outline-secondary ctmr_subscribed" data-bs-toggle="button" autocomplete="off" name="ctmr_subscribed" value="{{ ctmr_subscribed }}">Subscribe</button>
            {% endif %} -->
        </div>
    </nav>

    <!-- Modal (treatment selection) -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Creating selected list and product list here using js -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-confirm="confirm">Confirm selection</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // #####################################
        // #### UPDATE FOR DATETIME PICKING ####
        // #####################################
        let appointment = document.getElementById('pickerSource').value
        // let appDate = appointment.split(' ')[0]
        // let appTime = appointment.split(' ')[1]
        // alert('alert')
        configflpkr = {
            enableTime: true,
            altInput: true,
            altFormat: "Y-m-d H:i",
            dateFormat: "Y-m-d H:i",
            defaultDate: appointment,
            // altFormat: "F j, Y H:i",
            // dateFormat: "Y-m-d",
        }
        $('.flflpicker').flatpickr(configflpkr)
        // alert("passed")

        let exampleModal = document.getElementById('exampleModal')
        let modalBody = exampleModal.querySelector(`.modal-body`)
        exampleModal.addEventListener('show.bs.modal', async function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            let ptype = button.getAttribute('data-bs-ptype')
            let tbody = button.getAttribute('data-bs-tbody')
            exampleModal.setAttribute("ptype", ptype)
            exampleModal.setAttribute("tbody", tbody)
            
            var url = '/edit_product_list' +
            '?submitMode=' + ptype +
            '&ptype=' + ptype
            try {
                var response = await fetch(url);
                var trn_data = await response.json();
            } catch (error) {
                alert('There was a problem while processing request: error.name=' + error.name + '; error.msg=' + error.msg + ';');
                return
            }
            if (!trn_data["trn_complete"]) {
                alert("trn_complete: " + trn_data["trn_complete"]  + ". AN ERROR OCCURED WHILE FETCHING DATA");
                return
            }
            
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            
            // Update the modal's content.
            try{
                var oldSelectedList = modalBody.querySelector(`.selectedProducts`)
                modalBody.removeChild(oldSelectedList)
            } catch {  }
            
            try{
                var oldSeparator = modalBody.querySelector(`.separator`)
                modalBody.removeChild(oldSeparator)
            } catch {  }

            try{
                var oldProdList = modalBody.querySelector(`.list-group.products`)
                modalBody.removeChild(oldProdList)
            } catch {  }

            var modalSelectedHeader = document.createElement("h6")
            modalSelectedHeader.setAttribute("class", "text-start")
            modalSelectedHeader.textContent = 'Selected:'
            var modalSelectedList = document.createElement("div")
            modalSelectedList.setAttribute("class", "list-group selectedProducts")
            modalSelectedList.appendChild(modalSelectedHeader)
            modalBody.appendChild(modalSelectedList)
         
            var modalLineSeparator = document.createElement("hr")
            modalLineSeparator.setAttribute("class", "separator")
            modalBody.appendChild(modalLineSeparator)

            var modalProdListHeader = document.createElement("h6")
            modalProdListHeader.setAttribute("class", "text-start")
            var modalTitle = exampleModal.querySelector('.modal-title')
            var tbl = document.querySelector(`tbody[name="${tbody}"]`)
            if (ptype == 'service') {
                modalTitle.textContent = 'Treatment selection'
                modalProdListHeader.textContent = 'Treatment list:'
                // var tbl = document.querySelector(`tbody[name="tbdOrderDetails"]`)
            } else if (ptype == 'commodity') {
                modalTitle.textContent = 'Product selection'
                modalProdListHeader.textContent = 'Product list:'
                // var tbl = document.querySelector(`tbody[name="tbdHomeSkinCare"]`)
            } else {
                modalTitle.textContent = `${ptype} selection`
                modalProdListHeader.textContent = `${ptype} list:`
                var tbl = document.querySelector(`tbody[name="tbdOrderDetails"]`)
            }
            
            // Inserting already selected items into "selected" area
            var initiallyModalSelected = new Array()
            var selectedItems = tbl.querySelectorAll(`tr`)
            for (row of selectedItems) {
                col = row.querySelector(`td[name="${ptype}"]`)
                var product = col.getAttribute("product")
                initiallyModalSelected.push(product)

                // Something to be inserted
                // if you will create a function for inserting buttons beaware of source object
                // Inserting here
                var kwAttrs = {
                    activity: "active",
                }
                if (ptype == 'service') {
                    kwAttrs["duration"] = col.getAttribute("duration")
                    kwAttrs["price"] = col.getAttribute("price")
                    kwAttrs["prod_how_to_use"] = ""
                    kwAttrs["imgPath"] = ""
                } else if (ptype == 'commodity') {
                    kwAttrs["duration"] = "0"
                    kwAttrs["price"] = "0"
                    kwAttrs["prod_how_to_use"] = ""
                    // kwAttrs["prod_how_to_use"] = col.getAttribute("prod_how_to_use")
                    kwAttrs["imgPath"] = ""
                }
                modalSelectedList.appendChild(createLabelItem(product, ptype, kwAttrs))
            }

            var modalProdList = document.createElement("div")
            modalProdList.setAttribute("class", "list-group products")
            modalProdList.appendChild(modalProdListHeader)
            modalBody.appendChild(modalProdList)

            // Inserting All product items into "Product list" area
            var productList = trn_data["productList"]
            for (var row of productList){
                var product = row["prod_name"]

                var isSelected = initiallyModalSelected.indexOf(product, 0)
                if (isSelected >= 0) {
                    continue
                }
                
                var kwAttrs = {
                    activity: "",
                }
                if (ptype == 'service') {
                    kwAttrs["duration"] = row["prod_duration"]
                    kwAttrs["price"] = row["price"]
                    // kwAttrs["prod_how_to_use"] = ""
                    kwAttrs["imgPath"] = ""
                } else if (ptype == 'commodity') {
                    // kwAttrs["duration"] = "0"
                    // kwAttrs["price"] = "0"
                    kwAttrs["prod_how_to_use"] = ""
                    // kwAttrs["prod_how_to_use"] = row["prod_how_to_use"]
                    kwAttrs["imgPath"] = row["prod_img_path"]
                }
                // Something to be inserted
                // if you will create a function for inserting buttons beaware of source object
                // Inserting here
                modalProdList.appendChild(createLabelItem(product, ptype, kwAttrs))
            }
        })

        // Creating Label Item for insertion into product list
        function createLabelItem(product, ptype, kwAttrs) {
            // Something to be inserted
            var labelItem = document.createElement("label")
            labelItem.setAttribute("class", "list-group-item d-flex mb-0")
            labelItem.setAttribute("product", product)

            var divItem = document.createElement("div")
            divItem.setAttribute("class", "d-flex w-100 justify-content-between prodItem")
            // divItem.setAttribute("style", "height: 50px;")

            if (ptype == 'commodity') {
                divItem.setAttribute("class", "d-flex w-100 prodItem")
                var imgItem = document.createElement("img")
                imgItem.setAttribute("src", kwAttrs["imgPath"])
                imgItem.setAttribute("class", "img-fluid me-3")
                imgItem.setAttribute("alt", "no image")
                // imgItem.setAttribute("style", "width: 50px;")
                
                divItem.appendChild(imgItem)
            }
            
            var itemButton = document.createElement("button")
            itemButton.setAttribute("type", "button")
            // if you will create a function for inserting buttons beaware of adding activity as attribute
            itemButton.setAttribute("class", "btn btn-outline-secondary item " + kwAttrs["activity"])
            itemButton.setAttribute("data-bs-toggle", "button")
            itemButton.setAttribute("autocomplete", "off")
            itemButton.setAttribute("product", product)
            if ("duration" in kwAttrs) {
                itemButton.setAttribute("duration", kwAttrs["duration"])
            }
            if ("price" in kwAttrs) {
                itemButton.setAttribute("price", kwAttrs["price"])
            }
            if ("prod_how_to_use" in kwAttrs) {
                itemButton.setAttribute("prod_how_to_use", kwAttrs["prod_how_to_use"])
            }
            itemButton.addEventListener('click', selectItem, false)
            itemButton.textContent = product
            divItem.appendChild(itemButton)

            if (ptype == 'service') {
                var txtDuration = document.createElement("small")
                txtDuration.textContent = `${kwAttrs["duration"]} min`
                divItem.appendChild(txtDuration)

                var txtPrice = document.createElement("small")
                txtPrice.textContent = `$${kwAttrs["price"]}`
                divItem.appendChild(txtPrice)
            } else if (ptype == 'commodity') {
                var txtDescr = document.createElement("small")
                txtDescr.textContent = `${kwAttrs["prod_how_to_use"]}`
                divItem.appendChild(txtDescr)
            }
            labelItem.appendChild(divItem)

            return labelItem
        }

        // Processing item selection for modal window
        function selectItem(event) {
            var itemChosen = event.currentTarget
            var apressed = itemChosen.getAttribute('aria-pressed')
            var product = itemChosen.getAttribute('product')
            var modalProdList = modalBody.querySelector(`.list-group.products`)
            var modalSelectedList = modalBody.querySelector(`.selectedProducts`)
            if (apressed == 'true') {
                var labelItem = modalProdList.querySelector(`[product="${product}"]`)
                modalProdList.removeChild(labelItem)
                modalSelectedList.appendChild(labelItem)
            } else {
                var labelItem = modalSelectedList.querySelector(`[product="${product}"]`)
                modalSelectedList.removeChild(labelItem)
                modalProdList.appendChild(labelItem)
            }
        }

        // Processing selected items confirmation
        let modalFooter = exampleModal.querySelector(`.modal-footer`)
        var modalBtnConfirm = modalFooter.querySelector(`[data-bs-confirm="confirm"]`)
        modalBtnConfirm.addEventListener('click', function () {
            // alert("click confirm done")
            var ptype = exampleModal.getAttribute("ptype")
            var tbody = exampleModal.getAttribute("tbody")
            if ((ptype == 'service') || (ptype == 'commodity')) {
                var tbl = document.querySelector(`tbody[name="${tbody}"]`)
            //     var tbl = document.querySelector(`tbody[name="tbdOrderDetails"]`)
            // } else if (ptype == 'commodity') {
            //     var tbl = document.querySelector(`tbody[name="tbdHomeSkinCare"]`)
            } else {
                alert("ptype not identified")
                $('#exampleModal').modal('hide')
            }

            var oldSelectedItems = tbl.querySelectorAll(`tr`)
            for (row of oldSelectedItems) {
                tbl.removeChild(row)
            }
            
            var selectedItems = modalBody.querySelector(`.selectedProducts`)
            var rows = selectedItems.querySelectorAll(`button`)
            for (let row of rows) {
                // adding tr-s and td-s for each row
                var product = row.getAttribute("product")
                var kwAttrs = {}
                if (row.hasAttribute("duration")) {
                    kwAttrs["duration"] = row.getAttribute("duration")
                    var duration = row.getAttribute("duration")
                }
                if (row.hasAttribute("price")) {
                    kwAttrs["price"] = row.getAttribute("price")
                    var price = row.getAttribute("price")
                }
                if (row.hasAttribute("prod_how_to_use")) {
                    kwAttrs["prod_how_to_use"] = row.getAttribute("prod_how_to_use")
                    var prod_how_to_use = row.getAttribute("prod_how_to_use")
                }
                tbl.appendChild(createTableRowItem(product, ptype, kwAttrs, duration, price, prod_how_to_use))
            }
            // // bootstrap method doesn't work correctly
            // $('#exampleModal').hide()
            $('#exampleModal').modal('hide')
        })

        // Creating Table row item for insertion into table
        function createTableRowItem(product, ptype, kwAttrs, duration, price, prod_how_to_use) {
            var tr = document.createElement("tr")
            
            var input = document.createElement("input")
            input.setAttribute("class", "d-none")
            input.setAttribute("name", ptype)
            input.setAttribute("type", "text")
            input.setAttribute("value", "")
            var td = document.createElement("td")
            td.setAttribute("class", "text-start")
            td.setAttribute("name", ptype)
            td.setAttribute("product", product)
            if ("duration" in kwAttrs) {
                td.setAttribute("duration", kwAttrs["duration"])
                // td.setAttribute("duration", duration)
            }
            if ("price" in kwAttrs) {
                td.setAttribute("price", kwAttrs["price"])
                // td.setAttribute("price", price)
            }
            if ("prod_how_to_use" in kwAttrs) {
                td.setAttribute("prod_how_to_use", kwAttrs["prod_how_to_use"])
                // td.setAttribute("prod_how_to_use", prod_how_to_use)
            }
            td.appendChild(input)
            td.textContent = product
            tr.appendChild(td)

            if (ptype == 'service') {
                var input = document.createElement("input")
                input.setAttribute("class", "d-none")
                input.setAttribute("name", "duration")
                input.setAttribute("type", "text")
                input.setAttribute("value", "")
                var td = document.createElement("td")
                td.setAttribute("class", "text-start")
                td.setAttribute("name", "duration")
                td.appendChild(input)
                td.textContent = duration
                tr.appendChild(td)
                
                var input = document.createElement("input")
                input.setAttribute("class", "d-none")
                input.setAttribute("name", "price")
                input.setAttribute("type", "text")
                input.setAttribute("value", "")
                var td = document.createElement("td")
                td.setAttribute("class", "text-start")
                td.setAttribute("name", "price")
                td.appendChild(input)
                td.textContent = price
                tr.appendChild(td)
            }

            if (ptype == 'commodity') {

            }

            return tr
        }

        // Collection of alerts
        function archievedChecking() {
            // msgProductList = msgProductList + product["prod_name"]
            // alert("click 1")
            // alert(apressed)
            // alert("apressed=" + apressed + ": (apressed == true) = " + (apressed == true))
            // alert("apressed=" + apressed + ": (apressed == 'true') = " + (apressed == 'true'))
            // alert("apressed=" + apressed + ": (apressed == false) = " + (apressed == false))
            // alert("apressed=" + apressed + ": (apressed == 'false') = " + (apressed == 'false'))
            // alert("############# apressed = false")
            // alert(`pressed=${apressed}; prod=${product}`)
        }

        let btnSave = document.querySelector(`button.saveInfo`);
        btnSave.addEventListener('click', async function()
        {
            // Updating order details
            let ord_id = document.querySelector(`input.ord_id`).value;
            let ord_number = document.querySelector(`input.ord_number`).value;
            let ord_status = document.querySelector(`select.ord_status`).value;
            let ord_appointment_date = document.querySelector(`input.ord_appointment_date`).value;
            let ord_beautician = document.querySelector(`select.ord_beautician`).value;
            let ord_description = document.querySelector(`input.ord_description`).value;
            let ord_ctmr_complaints = document.querySelector(`input.ord_ctmr_complaints`).value;
            let ord_skin_condition = document.querySelector(`input.ord_skin_condition`).value;

            let url = '/save_order_details' +
            '?submitMode=' + btnSave.value +
            '&ord_id=' + ord_id +
            '&ord_number=' + ord_number +
            '&ord_status=' + ord_status +
            '&ord_appointment_date=' + ord_appointment_date +
            '&ord_beautician=' + ord_beautician +
            '&ord_description=' + ord_description +
            '&ord_ctmr_complaints=' + ord_ctmr_complaints +
            '&ord_skin_condition=' + ord_skin_condition +
            '&tbl_service_rendered=' + tableStringify("tbdOrderDetails") +
            '&tbl_service_homecare=' + tableStringify("tbdHomeSkinCare") +
            '&tbl_treatment_plan=' + tableStringify("tbdTreatmentPlan")

            try {
                let response = await fetch(url);
                var trn_data = await response.json();
            } catch (error) {
                alert(`There was a problem while processing request: error.name=${error.name}; error.msg=${error.msg};`);
                return
            }
            if (!trn_data["trn_complete"]) {
                alert(`trn_complete: ${trn_data["trn_complete"]}; AN ERROR OCCURED WHILE SAVING DATA: ${trn_data["error_msg"]};`);
                return
            }
            // alert("success");
        })

        // Creating JS object from html table
        function tableStringify(name) {
            var tbl = new Array()
            var docTable = document.querySelector(`tbody[name="${name}"]`)
            var docTblRows = docTable.querySelectorAll(`tr`)
            for (var docRow of docTblRows) {
                var row = new Object()
                var docColumn = docRow.querySelector(`td`)
                row["product"] = docColumn.getAttribute("product")
                if (docColumn.hasAttribute("duration")) {
                    row["duration"] = docColumn.getAttribute("duration")
                }
                if (docColumn.hasAttribute("price")) {
                    row["price"] = docColumn.getAttribute("price")
                }
                // alert(JSON.stringify(row))
                tbl.push(row)
            }
            // alert(JSON.stringify(tbl))
            return JSON.stringify(tbl)
        }

    </script>

{% endblock %}
